# FastAPI y servidor
fastapi==0.104.1
uvicorn[standard]==0.24.0

# ChromaDB y embeddings
chromadb
langchain-chroma
langchain-openai
langchain-ollama
langchain-core
langchain-text-splitters
langchain-community

pymupdf

# Utilidades
python-dotenv==1.0.0
pydantic==2.7.4

# Procesamiento de archivos
python-multipart==0.0.6
